/*

![Aa]ssets/
![Pp]rojectSettings/
!machineers.keystore
!TokenServer/

Assets/UnityVS/
Assets/Textures/Accessories/Thumbs.db.meta
Assets/Textures/Menu/Thumbs.db.meta
Assets/Textures/Car Testing Area/Textures/Thumbs.db.meta
Assets/Editor/Dialogue/NextDialogueEditor.asset
Assets/Editor/Dialogue/NextDialogueEditor.asset.meta
Assets/MetroTestCertificate.pfx
Assets/MetroTestCertificate.pfx.meta
Assets/UnityVS.meta
